@media (width < 820px) {
    #buy_miner{
        margin-left: 10%;
        margin-top: 10%;
    }
}
@media (width < 640px) {
    #buy_miner{
        margin-left: 25%;
        margin-top: 15%; 
    }
}
@media (width < 500px) {
    #buy_miner{
        margin-left: 15%;
        margin-top: 15%; 
    }
}
@media (width < 400px) {
    #buy_miner{
        margin-left: 10%;
        margin-top: 15%; 
        margin-right: 10%;
    }
}