@import url(./style/Withdraw.css);
@import url(./style/scrollbar.css);
@import url(./style/Sidebar.css);
@import url(./style/Buyminers.css);
@import url(./style/Button.css);
@import url(./style/dashboard.css);
.active{
  color: blue;
  cursor: pointer;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-bg {
  background: linear-gradient(135deg, #0c0b1d, #23074d, #00d4ff);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}